.idea/
.vscode/
.DS_STORE

.venv/
src/.venv/
**/.venv/
**/__pycache__/
*.py[cod]
.pytest_cache/
**/.pytest_cache/
.coverage
htmlcov/
src/backend/reports/

**/node_modules/
src/frontend/dist/
**/dist/

.env
src/.env
src/backend/.env
src/frontend/.env
!src/backend/.env
src/instance/
src/backend/instance/
src/backend/participium/static/uploads/
*.db

priv/
